body {
    background-color: white;
}
#backroot {
    background-color: azure;
    font-size: small;
    margin: 0px;
}
:root {
    --blue: #5da2d5;
    --white: #feffff;
    --yellow: #f3d250;
}
#top-header {
    background-color: var(--yellow);
}
.c0132 {
    color: #17252a;
    font-size: small;
    text-decoration: none;
}
#nav {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--blue);
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-menu li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu li:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
@media only screen and (min-width: 990px) {
    #nav {
        margin: 0;
        padding: 0;
        color: var(--white);
        font-size: 15px;
        font-weight: 600;
        background-color: var(--blue);
        display: flex;
        justify-content: space-around;
    }
    .dropdown-menu li:hover {
        background-color: #ddd;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
.nav-link {
    color: var(--white) !important;
}
.footer {
    background-color: var(--yellow);
    font-size: small;
}
.block {
    text-decoration: none;
}
.carousel-content {
    position: absolute;
    font-size: 5vw;
    font-weight: bolder;
    top: 35%;
    left: 25%;
    z-index: 20;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
footer {
    bottom: 0;
}
.text-color {
    color: #17252a;
}
.footer-distributed {
    background-color: var(--yellow);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer-distributed .footer-left {
    width: 40%;
}
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: var(--white);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-company-about {
    font-size: 15px;
    font-weight: normal;
}
.footer-link {
    font-size: 15px;
    font-weight: lighter;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #17252a;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: var(--white);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}
/* #welcome {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */
.hm {
    position: relative;
    height: auto;
    margin: 0px !important;
    padding: 0px;
    background: #d7eafc;
}
.mcontent {
    position: relative;
}
.mpage {
    position: relative;
    margin: 0px !important;
    padding: 5%;
    font-family: "Avenir LT W01 55 Roman";
}
.openquote {
    position: absolute;
    z-index: 44;
    top:5%;
    position: absolute;
}
.himg {
    position: relative;
}
.pimg {
    position: relative;
    padding: 70px 0 120px;
}
.hpimg{
    background-size: cover !important;
    width: 50%;
    height:60vh;
    border-radius: 10px;
    z-index: 30;
    position: relative;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.hmsg {
    position: absolute;
    top: 30%;
    right: 0;
    background: #fff;
    width: 60%;
    min-height:55vh;
    padding: 7% 5% 0% 10%;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.closequote {
    position: absolute;
    bottom: -11%;
    z-index: 44;
    position: absolute;
    right:0%;
}
.ptext{
    text-align: justify;
    margin-left:10%;
}
@media (max-width: 850px){
.hmsg {
    position: relative;
    top: -30px;
    right: 0;
    width: 100%;
    padding: 12% 5% 5px;
}
.pimg{
    position: relative;
    height: auto;
    width: 100%;
    padding: 12% 5% 5px;
}
.hpimg{
    width:100%;
}
}
.nrecent{
    width:100%;
    height: auto;
    background-color: var(--blue);
    margin-top:10%;
}
.firstrecent{
    display:flex;
    width: 100%;
    height: auto;
}
.secondrecent{
    display:flex;
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.frtext{
    color:white;
    width:90%;
    text-align: justify;
    margin-bottom:5%;
    margin:5%;
}
.frimage{
    width: 100%;
}
.frimagetwo{
    width: 100%;
    order:2;
    float: right;
}
.rctimg{
    width:100%;
    max-height: 60vh;
    position: relative;
    margin-top: -2rem;
}
.rctimg2{
    width:100%;
    max-height: 60vh;
    margin-bottom: -2rem;
}
@media (max-width: 850px){
    .firstrecent{
        display:block;
        width: 100%;
        height: auto;
    }
    .secondrecent{
        display:block;
        width: 100%;
        height: auto;
    }
    .rctimg{
        margin-top: 0rem;
    }
    .rctimg2{
        margin-bottom: 0rem;
    }
}
.vl {
    border-left: 2px solid var(--blue);
    height: 100px;
    position: relative;
    left: 50%;
    margin: 10px;
    display: inline-block;
}
.wrapper-info {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
}
.info-img {
    width: 100%;
    padding: 0%;
    height: auto;
    background-size: cover !important;
    border-radius: 20px 20px 70px 0px;
}
.sectiontext {
    margin: 15px;
}
.info-div {
    display: flex;
    padding: 0% !important;
    margin: 30px;
    box-shadow: 7px 15px 30px 6px rgba(128, 128, 128, 0.7);
    border-radius: 20px;
}
#events {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
#recentevents {
    border-radius: 2%;
    margin: 20px;
    width: 40vw;
    height: auto;
    text-align: justify;
}
#calendar {
    margin-top: 20px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: justify;
}
.calendar div {
    margin: 0;
}
.date {
    height: 500px;
}
.facebook {
    margin-top: 20px;
    padding: 0;
    text-align: justify;
}
.map {
    width: 100%;
    height: 70vh;
    border: groove;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containertt {
    margin-top: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 30px;
    margin-right: 50px;
}

.fb-page {
    padding: 0px !important;
}
.book-list {
    margin: 20px;
}
.book-list-pdf {
    height: 85%;
}
.book0-10 {
    margin-top: 100px;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.exam-routine {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.gallery {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.card-body {
    background-color: var(--blue);
    color: var(--white);
}
.wow {
    margin-top: 100px;
    display: flex;
}
/* sidebar*/
@media screen and (max-width: 700px) {
    .sidebar {
        display: none !important;
    }
    .topbar {
        display: block !important;
    }
    .content {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    #navv {
        background-color: black;
    }
}
.topbar {
    display: none;
}
.main-bar {
    display: flex;
    background-color: #3e4040;
}
.sidebar {
    height: 100vh;
    background: #000;
    position: fixed;
}

.content {
    margin-left: 24vw;
    background-color: #3e4040;
    height: auto !important;
    min-height: 100vh;
}
#editpage {
    margin-left: 25%;
    margin-right: 25%;
}
.mainback {
    height: auto;
    min-height: 82vh;
    width: 70vw;
    margin: 5% 1% 5% 3%;
    background-color: white;
    border-radius: 1%;
}
.back {
    margin: 5%;
    padding-bottom: 5%;
}
/* .root{
    background-color: #3e4040;
} */
.button4 {
    margin-top: 10px;
    margin-left: 10px;
}

table {
    counter-reset: rowNumber;
}

table tr td:first-child::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
}
table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    padding: 5px;
    text-align: left;
}
.card {
    height: 100%;
    width: 100%;
}
.card-img {
    height: 100%;
}
.card-body {
    width: 100%;
}

/* css for about us page */

/* teacher section*/
.team-boxed {
    color: #07080a;
    background-color: #ffffff;
}

.team-boxed p {
    color: #06090a;
}

.team-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width: 767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.team-boxed .intro p {
    margin-bottom: 0;
}

.team-boxed .people {
    padding: 50px 0;
}

.team-boxed .item {
    text-align: center;
}

.team-boxed .item .box {
    text-align: center;
    padding: 10px;
    background-color: rgb(196, 180, 180);
    margin-bottom: 30px;
    border-radius: 10px;
}

.team-boxed .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: black;
}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
    font-size: 13px;
}

.team-boxed .item .description {
    font-size: 15px;
}

.team-boxed .item img {
    max-width: 160px;
}

.team-boxed .social {
    font-size: 30px;
    align-items: center;
    color: #020302;
}

.team-boxed .social:hover {
    font-size: 32px;
    color: #ac0808;
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
    padding: 6px;
}

.team-boxed .social a:hover {
    opacity: 1;
}

.fa {
    font-size: 35px;
}

.intro h1 {
    color: rgb(132, 0, 255);
}

.intro {
    margin-top: 23px;
}

.box img {
    cursor: pointer;
    width: 9em;
}

/*school management comittee*/
.row.heading h2 {
    color: rgb(228, 41, 41);
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner {
    border: 1px solid #d1bfbf;
    text-align: center;
    margin-bottom: 28px;
    padding: 40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: 0;
}
.practice-area .inner h3 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 10px 0;
}
.practice-area .inner p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.practice-area .inner img {
    display: inline-block;
}

.our-webcoderskull .cnt-block {
    float: center;
    width: 100%;
    background: #fff;
    padding: 30px 20px;
    text-align: center;
    border: 5px groove #d5d5d5;
    align-items: center;
    margin: 0 0 30px;
}
.our-webcoderskull .cnt-block figure {
    width: 148px;
    height: 148px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
    width: 148px;
    height: 148px;
    border-radius: 150%;
}
.our-webcoderskull .cnt-block h3 {
    color: #915d5d;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 0;
    text-transform: uppercase;
}
.our-webcoderskull .cnt-block h3 a {
    text-decoration: none;
    color: #2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover {
    color: #337ab7;
}
.our-webcoderskull .cnt-block p {
    color: #2a2a2a;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.our-webcoderskull .cnt-block .follow-us {
    margin: 20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li {
    display: inline-block;
    width: auto;
    margin: 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa {
    font-size: 35px;
    color: #8c28ce;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover {
    color: #025a8e;
}
.tableimg {
    width: 50px;
    height: 50px;
}

.contents {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
}

hr {
    margin: 20px 0;
    border: 4px solid rgb(158, 28, 28);
}

.dtt {
    float: left;
    font-size: 13px;
}
.notice {
    text-align: center;

    width: 50vw;
}
.photo {
    width: 60vw;
    margin: 5px 5px;
    height: auto;
}
